@*Routable component. Define the route this component is responsible for.*@
@page "/"
@using BlazingTrails.ComponentLibrary.Map;
@using BlazingTrails.Client.Features.Shared;

@*The instance from dependency injection.*@
@inject IMediator Mediator
@inject NavigationManager NavManager

@*Set the title displayed in the browser tab.*@
<PageTitle>Blazing Trails</PageTitle>

@if (_trails is null)
{
    <p>Loading trails...</p>
}

else if (_trails.Any())
{
    // Data is passed to component parameters using attributes on the element.
    <TrailDetails Trail="_selectedTrail" />

    <TrailSearch />

    <AuthorizeView>

        @*Only authorized users are allowed to add new trails.*@
        <Authorized>
            <div class="mb-4">
                <p class="fst-italic text-center">
                    Do you have an awesome trail you'd like to share?
                    <a href="add-trail">Add it here</a>.
                </p>
            </div>
        </Authorized>

        <NotAuthorized>
            <div class="mb-4">
                <p class="fst-italic text-center">Do you have an awesome trail you'd like to share? Please <a href="authentication/login">log in or sign up</a>.</p>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    @*The list of trails is now passed to the component.*@
    @*We can rename the 'context' variable when the template is defined as RenderFragment<T>.*@
    @*Renaming the context at the component level means that all the templates will automatically inherit the name.*@
    <ViewSwitcher Items="_trails" Context="trail">
        <GridTemplate>

            @*Template that uses RenderFragment<T> allows us to access the properties of the object through a 'context' variable.*@
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />
        </GridTemplate>
        <HeaderTemplate>
            <th>Name</th>
            <th>Location</th>
            <th>Length</th>
            <th>Time</th>
            <th></th>
        </HeaderTemplate>
        <RowTemplate>
            <th scope="col">@trail.Name</th>
            <td>@trail.Location</td>
            <td>@(trail.Length)km</td>
            <td>@trail.TimeFormatted</td>
            <td class="text-end">

                @*Authorize editing the trail only for its creator.*@
                <AuthorizeView>
                    @if (trail.Owner.Equals(context.User.Identity?.Name, StringComparison.OrdinalIgnoreCase)
                || context.User.IsInRole("Administrator"))
                    {
                        <button @onclick="@(() => NavManager.NavigateTo($"/edit-trail/{trail.Id}"))"
                        title="Edit"
                        class="btn btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                        </button>
                    }
                </AuthorizeView>

                <button @onclick="(() => HandleTrailSelected(trail))"
                    title="View"
                    class="btn btn-primary">
                    <i class="bi bi-binoculars"></i>
                </button>

                <FavoriteButton Trail="trail" />

            </td>
        </RowTemplate>

    </ViewSwitcher>

}

else
{
    <NoTrails>
        We currently don't have any trails,
        <a href="add-trail"> why not add one?</a>
    </NoTrails>
}

@*
    NOTES:

    OnAfterRender / Async methods:
    On the initial render the firstRender bool will be true.
    The primary use is to perform JavaScript interop and other DOM-related operations, such as focusing an element.
*@

@code {
    private IEnumerable<Trail>? _trails;
    private Trail? _selectedTrail;

    // Run only once in the component's lifetime.
    // Great place to make API calls for initial data.
    protected override async Task OnInitializedAsync()
    {
        // Http.Json methods throw 'HttpRequestException' if non-success code is returned from the server.
        try
        {
            // Dispatch a request to get the trails from the API.
            var response = await Mediator.Send(new GetTrailsRequest());

            _trails = response.Trails.Select(x => new Trail
                {
                    Id = x.Id,
                    Name = x.Name,
                    Image = x.Image ?? string.Empty,
                    Description = x.Description,
                    Location = x.Location,
                    Length = x.Length,
                    Owner = x.Owner,
                    TimeInMinutes = x.TimeInMinutes,
                    Waypoints = x.Waypoints.Select(wp =>
                        new LatLong(wp.Latitude, wp.Longitude)).ToList()
                });
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
            throw;
        }
    }

    // Blazor will automatically call 'StateHasChanged' as the child component
    // defined its event as 'EventCallback' type.
    private void HandleTrailSelected(Trail trail) => _selectedTrail = trail;
}