
@*Root component for the Blazor Application.*@

@*
    Router is responsible for managing all aspects of client-side routing.
    The application starts -> the router uses reflection to scan for routable components -> stores them in a routing table.
    When navigation is triggered -> the router will try to find a match agains the requested route in the routing table.
    The router will load either the matched component or a 'Not Found' template.
*@
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
