@*Root component for the Blazor Application.*@

@*
    Router is responsible for managing all aspects of client-side routing.
    The application starts -> the router uses reflection to scan for routable components -> stores them in a routing table.
    When navigation is triggered -> the router will try to find a match agains the requested route in the routing table.
    The router will load either the matched component or a 'Not Found' template.
*@

@*CascadingParameter containts the current authentication state of the user.*@
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">

            @*Determines the user's authentication state and adjusts the access level accordingly.*@
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determining session state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Sorry</h1>
                    <p>
                        You are not authorized to reach this page.
                        You need to log in.
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>